<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKy.Properties.Settings.QLBH_CKConnectionString"
            connectionString="Data Source=DESKTOP-K4Q6B8N;Initial Catalog=QLBH_CK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>